$primary-color: #008ed1;
$secondary-color: #61bb46;
$accent-color: #6fbfd8;
$dark: #616568;
$light: #ffffff;
$muted-color: #c8c9c7;
$dark: #616568;

$base-text-color: $dark;
$muted-text-color: $muted-color;
