@import 'abstract/colors';

.revenue {
  padding: 2rem 3rem;

  .create-btn {
    color: $primary-color;
    background-color: $light;
  }
}

.projects-dashboard {
  padding: 3rem;
  flex-wrap: wrap;
}
