<mat-card>
  <mat-card-content>
    <div id="name">Name: {{ project?.name }}</div>
    <div id="status">Status: {{ project?.status }}</div>
    <div id="price">Price: {{ project?.price | currency: 'USD' }}</div>
    <div id="employees">Employee: {{ project?.employees }}</div>
  </mat-card-content>
  <mat-card-actions>
    <button
      *ngIf="project?.status !== projectStatus.COMPLETED"
      id="editBtn"
      mat-button
      (click)="editProject.emit({ name: project?.name, id: project?.id })"
    >
      Edit
    </button>
    <button
      *ngIf="yearsInInThePast() || project?.status === projectStatus.NEW"
      id="deleteBtn"
      mat-button
      (click)="removeProject.emit(project.id)"
      color="warn"
    >
      Delete
    </button>
    <button
      *ngIf="project?.status === projectStatus.NEW"
      id="startBtn"
      mat-button
      (click)="startProject.emit(project.id)"
      color="accent"
    >
      Start
    </button>
    <button
      *ngIf="project?.status === projectStatus.IN_PROGRESS"
      class="completeBtn"
      id="completeBtn"
      mat-button
      (click)="completeProject.emit(project.id)"
    >
      Complete
    </button>
  </mat-card-actions>
</mat-card>
