.mat-drawer-container {
  margin-top: 64px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}

.mat-drawer {
  width: 200px;
}

.side-nav-navigation {
  padding: 2rem;
  margin: 0;

  &__item {
    padding: 2rem 0;
  }
}

.active {
  color: #80d1f7;
}
